@import url(https://fonts.googleapis.com/css?family=Sacramento);

body{
	text-align: center;
	font-family: Geneva;
	color: rgb(0, 51, 102);
	background: white;
}
h1{
	color: black;
	font-family: 'Sacramento', cursive;
	font-size: 70px;
	margin-bottom: 0px;
	line-height: 60%;
}
#slogan{
	color: rgb(22, 188, 230);
	font-size: 18px;
	margin-top: 0px;
}