@import url(https://fonts.googleapis.com/css?family=Sacramento);

body{
	text-align: center;
	font-family: Helvetica;
	color: teal;
	background: white;
}
h1{
	color: black;
	font-family: 'Sacramento', cursive;
}
#slogan{
	font-style:italic;
}